@model MvcEmpleados.EMPLEADOS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EMPLEADOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CEDULA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEDULA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEXO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEXO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_NACIMIENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_NACIMIENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_REGISTRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_REGISTRO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_EMP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
